[2017-04-16 15:47] Prakash19921206 opened #1 "Windows 7 Compatibility of darknet"
i'm on windows 7 (64 bit)  after followed build steps, when i run following command
`darknet.exe detector test cfg/combine9k.data cfg/yolo9000.cfg yolo9000-weights/yolo9000.weights data/horses.jpg`
i get error message

i modified `combine9k.data` file,  `names  = "D:/yolo-9000/data/9k.names"`
when i try again, i get same error

[2017-04-17 01:27] philipperemy commented on #1
Thanks for the feedback on Windows! I haven't tried it on this OS.

`9k.names` is located in `yolo-9000/darknet/data/9k.names`
Can you find it on your computer?

It's possible that `darknet` does not support Windows.

Let me know

[2017-04-17 01:54] Prakash19921206 commented on #1
i think darknet build fine, but i had problem running below command in windows command prompt
 `cat yolo9000-weights/x* > yolo9000-weights/yolo9000.weights # it was generated from split -b 95m yolo9000.weights`
so i used [CygWin64 ](https://cygwin.com/install.html) for entire build process.
darknet gave a small warning, below is the output from `CygWin` terminal

[code]
i guess that warning is neg

[2017-04-17 02:04] philipperemy commented on #1
@Prakash19921206 can you open an Issue here: https://github.com/pjreddie/darknet ?
It's an issue related to the darknet project itself. I'm not sure they support Windows

[2017-04-17 02:05] philipperemy commented on #1
Here : https://groups.google.com/forum/#!forum/darknet
Because they don't accept Issues on Github directly. Thanks

[2017-04-25 10:19] philipperemy commented on #1
Reopen when you have further news.

[2017-04-25 10:19] #1 closed

[2017-05-20 03:52] crazymxm opened #2 "darknet version with MacOS El Capitan"
It would be nice if you could offer the  darknet version with MacOS El Capitan,so we can run yolo9000 on our mac.

[2017-05-20 04:28] philipperemy commented on #2
Thanks for reaching out @crazymxm ! Good news I can make it work without you to download anything!

The latest version of `darknet` seems to yield a Segmentation Fault on OSX El Capitan.

I could make it work that way:
[code]

The only difference here is this line:
[code]

I explicitly ask for this commit because I know that it was working.

What we can do (later on) is to investigate which commit

[2017-05-20 04:31] #2 closed

[2017-05-24 20:05] abagshaw opened #3 "Face/head detection?"
I was wondering, do you know if the pre-trained models for yolo9000 support face and/or head detection? For an object detection framework that can detect 9000+ items, I would think that heads and faces would be two of them considering that's fairly basic - but in my testing I don't seem to be able to get yolo9000 to detect faces (it just detects the whole person).

The `9k.names` file here: https:

[2017-05-25 03:37] philipperemy commented on #3
From my experience, yolo9000 does not recognise face and/or head.

I made an experiment at my office. You can see the result of yolo 9000 on many frames: https://www.youtube.com/watch?v=2TyKm5cPYm4

I have no ideas on this point as I'm not familiar how they trained the model. But I think if you want to do that, you will have to re-train all the model (or doing transfer learning to some extent). It

[2017-05-25 04:20] abagshaw commented on #3
@philipperemy Hmm, that's a shame. Thanks for the video. It does make me wonder though - that 2 out of ~9000 labels that clearly are not being detected....how many more labels are not in use?

[2017-05-25 05:29] philipperemy commented on #3
I think we have to tweak the algorithm a little bit with the thresholds. Probably the probability of recognising a person is much higher than a probability of recognising a face. Also I don't know how they deal with overlapping (A face is part of a person). Did you try to run yolo-9000 on a picture with just a face on it (can't see the body)?

[2017-05-25 14:08] abagshaw commented on #3
No I've haven't tried running it on just picture of a face - I'll give that a shot though. I'll also play around with the thresholds to see what I can get. Thanks!

[2017-05-26 04:50] abagshaw commented on #3
@philipperemy I've been playing around with https://github.com/thtrieu/darkflow/pull/257 and even thought I've set the `hierarchythreshold` value super low (0.001) I'm still not getting face or head detentions showing up on images that have faces and heads clearly visible. Actually it's possible there's a bug in that implementation of YOLO9000 (as there doesn't seem to be any effect on the predict

[2017-05-26 05:00] philipperemy commented on #3
@abagshaw here are the best explanations I've found so far about YOLO9000 (related to `darknet` and not `darkflow`):

- https://groups.google.com/d/msg/darknet/Cw99SpxKK2A/ZciRk6-IDwAJ
- https://groups.google.com/forum/#!topic/darknet/UzaJNGg0pjo

Quoted from the first one:

You should try to make it work directly with the original `darknet` framework. Here they mentioned about two thresholds: `th

[2017-05-26 07:02] relh commented on #3
Basically, the first threshold is what is used to determine whether or not there is an object in the predicted bounding box. The network predicts an explicit 'objectness' score separate from the class predictions that if above the threshold indicates that a bounding box will be returned.

Once a box is predicted, the network traverses the tree of candidate detections and multiples through the cond

[2017-05-26 10:15] philipperemy commented on #3
@relh thanks a lot for this useful insight!

[2017-05-26 14:07] abagshaw commented on #3
@relh @philipperemy Thanks for all your help. I think this makes more sense now. I'm still running into some problems though. I've been playing around with changing the `-hier` threshold for darknet and I can't seem to see any changes no mater what value I put.  `-hier 0.0001`, `-hier 0` and `-hier 0.9999` all produce the same results for me on all the images I've tested (and I'd expect those valu

[2017-05-26 23:19] relh commented on #3
If you check out pjreddie's reply to https://groups.google.com/forum/#!topic/darknet/Cw99SpxKK2A, you'll see that he describes the -hier flag as working the same way as I describe above.

However, in practice, although the -hier value gets passed through to the appropriate function calls: demo/detector/test/get_region_boxes/and hierachy_top_prediction it has no effect.

I tested various values for

[2017-06-06 11:29] benn94 opened #4 "GPU configuration"
I have checked my NVIDIA GPU configuration and the output is bellow:

[code]

[code]
When I try to run
`./darknet detector test cfg/combine9k.data cfg/yolo9000.cfg ../yolo9000-weights/yolo9000.weights data/dog.jpg`

I got this output:
`./darknet: error while loading shared libraries: libcudart.so.7.5: cannot open shared object file: No such file or directory`

[2017-06-06 11:47] benn94 commented on #4
This is the full output:

[code]

[2017-06-06 12:18] philipperemy commented on #4
Your error is:

`./darknet: error while loading shared libraries: libcudart.so.7.5: cannot open shared object file: No such file or directory`

So let's see if your file actually exists.

Try this:

[code]

Make sure `nvcc` is in your `$PATH` by running `nvcc`.

Check if the file is there by running:
[code]

This file should be a symbolic link and points to `libcudart.so.7.5` automatically.

In my

[2017-06-07 04:37] benn94 commented on #4
Thank you for your reply.
It works now by

[code]

[2017-06-07 04:37] #4 closed

[2017-06-07 06:46] philipperemy commented on #4
@benn94 thanks for the feedback! Happy to hear that it worked!

[2017-06-12 01:18] philipperemy commented on #3
@abagshaw any updates so far?

[2017-06-12 03:11] abagshaw commented on #3
@philipperemy Unfortunately I still haven't been able to get face/head predictions showing up. Not only that but in general I've found that the YOLO9000 model misses some predictions that the YOLOv2 COCO model picked up just fine and the bounding boxes for the predictions it does generate are in general less accurate as well. Unless I'm missing something it seems to me that either the pretrained m

[2017-06-12 03:18] philipperemy commented on #3
@abagshaw no problem! YOLO9000 is less accurate because of the number of classes it has to handle.
Those links discuss the accuracy (mAP) of the models:
- https://pjreddie.com/darknet/yolo/
- https://arxiv.org/abs/1612.08242 (abstract)

[2017-06-18 04:50] steve21124 opened #5 "how to use this yolo 9000 in ios?"

[2017-06-19 02:52] philipperemy commented on #5
@steve21124 that's a very good question! I have absolutely no clue. Do you think you can port it to iOS? The source code is in C.

[2017-06-19 02:53] philipperemy commented on #5
What you could do instead is to stream it from the iOS device to a remote server and get back the bounding boxes. I know it works in real time. Find some more info on the author's website: https://pjreddie.com/darknet/

[2017-06-19 17:12] steve21124 commented on #5
thanks. I found more info. https://github.com/hollance/Forge/blob/99a2bb42448d89827c9d7ae872209bad0a610574/Examples/YOLO/yolo2metal.py

the above convert yolo to metal which is supported by ios. I am not sure if I can convert yolo 9000 model directly to coreml

[2017-06-19 22:36] #5 closed

[2017-07-22 18:35] dereyly opened #6 "yolo9000 train and test"
Paper yolo9000 is very nice with many points. One of points is task to classify many classes and solution with composite softmax.
How can I repeat this experiment? and try my own solutions on this task (9000 classes)?
Do you have plan to create this benchmark as open?

[2017-07-24 04:40] philipperemy commented on #6
This project does not contain the source code of Yolo. It only contains deployment scripts to make the magic happen!

In your case, you should ask directly to the guys here:

https://groups.google.com/forum/#!forum/darknet

[2017-07-25 14:39] dereyly commented on #6
Thank you @philipperemy I try it )

[2017-07-25 14:39] #6 closed

[2017-07-27 09:37] loretoparisi opened #7 "Question: False positive "person" and "bycicle" detection."
A [recent](https://www.technologyreview.com/s/608321/this-image-is-why-self-driving-cars-come-loaded-with-many-types-of-sensors/) article con Technology review showed an image about a False Positve "person" and "bycicle" detection. It came to my attention, as `yolo` user, since seems to be made with yolo bounding boxes.

![bikeedgecasepredictions1](https://user-images.githubusercontent.com/163333/

[2017-08-08 02:19] BogdanPugach opened #8 "Memory Corruption Error"
Any Idea what the fix is for this error? It shows up when I try to use a webcam. It also happens to some videos I try, but weirdly enough not every video has this issue.
GPU-P5000
CPU-Intel Core i7-7920HQ
Ubuntu: 16.04.02
CUDA: 8.0.61_375.26
Display Driver: 384.59(But also happened with 375.26 driver)
CUDNN-V6 for CUDA 8
OPENCV: 3.3

Make File Settings:
GPU=1
CUDNN=1
OPENCV=1
Nothing else was chan

[2017-08-08 02:27] philipperemy commented on #8
This project does not contain the source code of Yolo. It only contains deployment scripts to make the magic happen!

In your case, you should ask directly to the guys here:

https://groups.google.com/forum/#!forum/darknet

[2017-08-08 17:38] BogdanPugach commented on #8
This issue is related to the darknet version used. I updated darknet to the latest release and the errors went away.

[2017-08-08 17:39] #8 closed

[2017-08-09 05:16] philipperemy commented on #8
@BogdanPugach thanks for letting us know!

[2017-08-09 20:33] mhnatiuk opened #9 "memory requirements"
Are memory requirements for running detection on yolo-9000 higher than yolov2 on coco? If so, can someone provide an estimate for memory req.?

[2017-08-10 01:15] philipperemy commented on #9
I have no idea of yolov2. But on my experiments, yolo 9000 uses around 4206MiB on the GPU. So it should not be a problem if your GPUs have more than 6-8GB.

[2017-08-10 01:16] philipperemy commented on #9
If the model is equivalent to yolo v2, then the memory footprint should be the same. (The memory allocated is not proportional to the size of the data).

So I guess yolo v2 and yolo 9000 should be pretty similar since they share almost the same architecture (from what I remember).

[2017-08-11 00:40] ThibaultGROUEIX commented on #9
I'm running it on 6GB with 562MB already taken for the desktop and i get an out of memory. I guess i must be slightly under the requirements.

[2017-08-11 01:16] philipperemy commented on #9
@ThibaultGROUEIX thanks for the feedback! As you said, I guess 6GB is the limit. I think it would work if you didn't have your Desktop app running on the same GPU.

I can confirm it works flawlessly on a 8GB GPU (GTX 1070).

[2017-08-11 01:21] philipperemy commented on #9
I added a note in the README file: 73e54e951f7b5b87ee88a91ce93415f4f90f09bf

Despite the fact that it can work with 6GB, I prefer to recommend 8GB.

[2017-08-18 15:20] xlxlcyRuSReXxlxl opened #10 "About 9k classes.."
Hi everyone! Lately I have run through yolo detection models (such as yolov1,tiny-yolov1) and I got very impressed from their ability! Because of the fact that I would need more information on the contents of pictures, I tried yolo9k and I have few questions about it:
1) Is it possible deleting some classes? If I have as input a dog imagine, I would like to see as output just "dog" instead "canine

[2017-08-18 19:31] xlxlcyRuSReXxlxl opened #11 "How to train yolo9000?"
Using the pre trained yolo9000 model with Python  I notice that is much less accurate than yolov2, and I guess it's normal because it has to detect more classes. Right now I am looking for detecting landscapes (as sea shore, lake shore, mountains, deserts and things like these), so I was wondering if you could give me some guidelines to train the weights since I have no background in this. Beside

[2017-08-19 01:21] philipperemy commented on #11
@xlxlcyRuSReXxlxl that's a very good question for which I don't have the answer.

This project does not contain the source code of Yolo.

In your case, you should ask directly to the guys here:
https://groups.google.com/forum/#!forum/darknet

Also if you find out how to do that, that would be interested to include it inside this repository!

Thanks!

[2017-08-19 01:29] #9 closed

[2017-09-09 07:53] JayYangSS opened #12 "where is the yolo9000.weights?"
Hi, I can't find the yolo9000.weights under the directory of `yolo-9000-weights`, can you provide this file? Thanks!

[2017-09-09 12:41] philipperemy commented on #12
@JayYangSS It's contained in `xaa` and `xab`.

Run this command on a UNIX system to generate the file:

[code]

The reason why I did that was because of Github's max file policy (max. 100MB)

[2017-09-09 12:50] #12 closed

[2017-09-11 19:42] rnunziata opened #13 "Fails to identify objects that where picked up prior with yolo.weights"
Fails to identify objects that where picked up prior with yolo.weights. Old system idenified books in this photo. It seems to skip over small objects.
![2017-09-11-123956](https://user-images.githubusercontent.com/5377074/30293469-7f254a0c-96ee-11e7-975e-179c914f3cab.jpg)

[2017-09-12 00:49] philipperemy commented on #13
@rnunziata YOLO 9000 is less precise than the YOLO V2. Its mAP is lower.

But it can recognize a lot more objects. Try to decrease the threshold when you do inference:

`-thresh 0.15`

Also please do refer to this conversation for more information: https://github.com/philipperemy/yolo-9000/issues/3

Thanks

[2017-09-12 02:24] rnunziata commented on #13
Thanks

[2017-09-12 02:24] #13 closed

[2017-09-14 01:13] #11 closed

[2017-11-07 22:38] CXZ116 opened #14 "Can I extract features of each detected ROI from yolo?"
Hi:
I have been playing with yolo9000 and compare it with other object proposals such as selective search. The way I did in the previous projects was to get regions from the object proposal and feed the ROI images to AlexNet to get 4kb features per image ROI. Yolo basically calculate object regions and scores at one shot, and performs faster per image. I have not read the paper on detailed impleme

[2017-11-08 03:15] hengshanji opened #15 "About the names"
I run the "./darknet detector test cfg/combine9k.data cfg/yolo9000.cfg ../yolo9000-weights/yolo9000.weights data/person.jpg" command.  I can get the detection,but the names is not the same with the README.
for example, i get worker instead of  'goat herder' , horse instead of  shetland pony hunting dog instead of Gorden setter. Is this project updated or something is not right ?

[2017-12-07 09:35] DC-Shi opened #16 "Why last layer have dimension 28269?"
I want to fine-tune my own image-label based on yolo9000 weights. Unlike yolo weights, I can compute last layer filter = (n+1)*5 for n labels.

But 28269 filters gives 9418 features, not something like (9418+1)*3.  I only find 28269 = 9418*3 + 15.

For the YOLO9000 paper, it just showed darknet-19, it's not end with 28269 filters(but 7*7*1000).

[2017-12-08 02:36] DC-Shi commented on #16
Oh, finally I found some explanation:

In YOLO9000, it gives 3 anchors(yolo has 5 anchors), so final filters should be multiple of 3.
For each anchor, it must have:
Probability of the detected object, x,y, width, height (5 numbers)
And with 9418 labels we want, we finally get (9418 + 5)*3 = 28269

[2017-12-08 02:36] #16 closed

[2017-12-12 12:38] philipperemy commented on #14
@CXZ116 that's a very good question for which I don't have the answer.

This project does not contain the source code of Yolo.

In your case, you should ask directly to the guys here:
https://groups.google.com/forum/#!forum/darknet

Thanks!

[2017-12-19 02:17] KyrieHee opened #17 "Demo needs OpenCV for webcam images."
what means about this?

[2017-12-19 14:59] philipperemy commented on #17
The whole project needs openCV.

[code]

And you will be fine

[2017-12-19 17:30] stesteau commented on #15
I can't figure out why but names are correct when you compile the CPU version...

[2017-12-21 02:55] huatangzhi opened #18 "Unsupported gpu architecture ‘compute_20’"
when I use GPU mode , during the make process

[2017-12-22 15:25] KyrieHee commented on #17
I will try it, Thank you so much.

At 2017-12-19 22:59:43, "Philippe Rémy" <notifications@github.com> wrote:

The whole project needs openCV.

sudo apt-get install libopencv-dev python-opencv

And you will be fine

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-12-22 15:25] KyrieHee commented on #17
Ok, Thank you so much.

[2017-12-23 02:05] philipperemy commented on #17
Ok great!

[2017-12-23 02:05] #17 closed

[2017-12-27 07:51] philipperemy commented on #18
@huatangzhi what is your GPU?

[2017-12-27 07:52] philipperemy commented on #18
(It probably means that your GPU is too old)

[2018-01-05 07:27] #18 closed

[2018-01-08 09:06] yaxiongchi opened #19 "How can I build a tree structure with this file 9k.tree?"
can somebody explain what is the structure of 9000 label tree? In the file 9k.tree, for example the n0000245 -1, n0566538625 4, what does the -1 and 4 mean? How can I build a tree structure with this file 9k.tree?

[2018-01-15 17:15] anphunl commented on #19
-1 means the root of tree
4: the index of father node

[2018-01-18 01:53] philipperemy commented on #19
@yaxiongchi does it answer your question?

Thanks @anphunl :)

[2018-01-18 02:16] yaxiongchi commented on #19
sure，very clear，thanks

Send from my vivo smart phone

Philippe Rémy <notifications@github.com> wrote:

[2018-01-18 02:17] #19 closed

[2018-02-09 14:03] matthewgiarra commented on #10
I think you would need to either (1) retrain with re-labeled data, or (2) combine the trained classes into a superclass as a post-processing step and add their probabilities.

If you can figure out what dataset this was trained on, you could probably do a find-replace on the labels to combine them into superclasses that you want and then re-train. You'd have to be careful with this, though, becaus

[2018-02-11 17:13] evenctit opened #20 "nan issue."
hi Philip,
I follow the formal website _https://pjreddie.com/darknet/yolo/_ to run yolo9000 to detect text in nature scene, I updated the configurations, however, when I tried to train the model, I got below error, do you have any idea what's the root cause?
Region Avg IOU: -nan, Class: -nan, Obj: -nan, No Obj: 0.000321, Avg Recall: -nan,  count: 0
80195: 0.000204, 0.000202 avg, 0.000010 rate, 0.1

[2018-03-09 04:53] philipperemy commented on #20
Hum really have no idea. Maybe the community can help you @evenctit

[2018-03-10 02:33] Dawson-huang opened #21 "FPS is slow"
My command is:
./darknet detector demo cfg/combine9k.data cfg/yolo9000.cfg ../yolo9000-weights/yolo9000.weights
but the FPS is very slow:       FPS:1.6
It run on GTX 1080 and the CPU is 3.2GHz.
How to reflect better, faster and stronger？

[2018-03-19 05:50] philipperemy commented on #21
Can you run `watch -n0.01 nvidia-smi` and see the usage, especially the `Volatile GPU-Util` flag?

[2018-03-19 05:53] philipperemy commented on #15
Hum yes I found out that the results can be slightly different when running on a CPU and GPU. If you can figure out why, I'd be def interested to know! Maybe a different seed, rounding values...

[2018-03-19 07:17] Dawson-huang commented on #21
Hello,
This is my nvidia-smi when I run  [ watch -n0.01 nvidia-smi ] :
![2018-03-19 14-50-57](https://user-images.githubusercontent.com/31092966/37582557-8f08b0a6-2b88-11e8-9347-2e422e6e593e.png)

The same command:
    ./darknet detector demo cfg/combine9k.data cfg/yolo9000.cfg ../yolo9000-weights/yolo9000.weights
It alse run on GTX 1080 and the CPU is 3.2GHz.
FPS=3.3

[2018-03-19 08:07] philipperemy commented on #21
How much is Volatile GPU Util on average during 1minute? (On your screenshot it was 3%)

[2018-03-19 14:18] arjunfzk opened #22 "remove object label"
What if i want to remove some objects from the 9000 labels ?how do i do it? I tried editing the label txt file but it gives segmentation error.

[2018-03-19 17:24] smich73 opened #23 "List of 9000 classes?"
Hi Philippe
Do you have a list of the 9000 objects/classes that this version of Yolo recognises?

Thanks

[2018-03-21 05:01] philipperemy commented on #23
Hey,

The classes names are available here:

- https://github.com/pjreddie/darknet/blob/1e729804f61c8627eb257fba8b83f74e04945db7/data/9k.names

[2018-03-21 05:01] #23 closed

[2018-03-21 05:03] philipperemy commented on #22
@arjunfzk I think it's a bit more complex than that.

You should probably look at links like this one: https://timebutt.github.io/static/how-to-train-yolov2-to-detect-custom-objects/

[2018-03-21 05:03] philipperemy commented on #20
Can you run the example in the README file?

[2018-03-22 04:01] tangziqiao opened #24 "Keep Getting Wrong Label Names"
Hello, I'm wondering if anyone knows why I keep getting these incorrect names which are not suppose to be the names under the 9k.names file???
This was the result when I set the threshold to 0.

<img width="794" alt="screen shot 2018-03-21 at 22 56 43" src="https://user-images.githubusercontent.com/31482447/37750482-4925af06-2d5b-11e8-886b-9c317d8a4dd0.png">

Any idea why this happened??

[2018-03-22 13:36] KA-ISK opened #25 "Elliminate classes in output !"
Hey guys,
I'm working on a person couting project and desnity estimation in crowd.
I'd like to elliminate all the classes in the output and only leave the "person" class.
Also i'd like to count the number of persons returned.

Any help ?
Thanks !! :)

[2018-03-25 06:26] philipperemy commented on #24
I guess you should not put the threshold to 0 otherwise you will have all the possible names popping up everywhere.

[2018-04-15 14:10] tu-8tu opened #26 "could someone tell me why the computer show an error couldn't open file yolo9000.weights"

[2018-04-15 14:11] tu-8tu commented on #26
there are files xaa and xab .are they weight files.how to open them

[2018-04-15 14:25] #26 closed

[2018-04-24 04:15] philipperemy commented on #3
Just an update here.

I advise you to use this repository to detect the faces: https://github.com/ageitgey/face_recognition

I'm going to close this issue. Feel free to reopen it if you have any questions.

Thank you all.

[2018-04-24 04:15] #3 closed

[2018-04-24 04:15] #24 closed

[2018-04-24 04:16] philipperemy commented on #21
I'll close this issue. Feel free to reopen it if you have questions.

[2018-04-24 04:16] #21 closed

[2018-04-24 11:32] dexception opened #27 "Yolo 9000 Dataset ?"
I haven't been able to locate any dataset that was used to train the Yolo 9000 dataset.
Please share the details as we are looking to only classify few categories only.

[2018-05-22 12:39] katstudz opened #28 "retrain"
Is there some way to retrain it and use for another dataset?

[2018-05-24 12:38] vismayaps opened #29 "How to save the coordinates of the bounding boxes ?"
Hi,

How can I save/print the coordinated of the bounding boxes detected ?
I made some changes on src/image.c to print the coordinates of the bounding boxes in darknet, but the same changes doesn't work here and the code also looks different.

Any help would be appreciated.
Thanks in Advance !!

[2018-05-28 01:07] philipperemy commented on #29
Hum I'm not sure here. The framework is exactly the same. Only checkpoints and configuration files are different for YOLO9000. So you should still be able to print the bounding boxes in darknet (maybe in src/image.c).

[2018-05-30 01:32] #29 closed

[2018-07-12 12:05] akshaybhatia10 commented on #29
Make sure to run the 'make' command for the changes to come into effect.

[2018-08-01 01:25] fzhu129 opened #30 "when loading image, there is core dump when video reaches its end."
Hi

I run this script:

./darknet detector demo cfg/combine9k.data cfg/yolo9000.cfg ../yolo9000-weights/yolo9000.weights -prefix IL /data/videos/ILSVRC2015_train_00755001.mp4 -thresh 0.15

It is found that it will have core dump when video ends.

(gdb) bt
#0  0x00007f9d00875478 in malloc_consolidate (av=av@entry=0x7f9d00bbbb20 <main_arena>) at malloc.c:4175
#1  0x00007f9d00878cde in _int_malloc (a

[2018-08-10 09:22] philipperemy commented on #30
Looks like it's a memory issue. Do you have enough RAM?

[2018-08-14 05:32] #30 closed

[2018-08-29 06:36] xiaoxiongli commented on #15
@hengshanji @moskiteau @philipperemy i met the same issue that when compile with GPU the name it not correct, and when compile with CPU, the result is right.  I wonder How do you fix it?

[2018-08-29 06:40] philipperemy commented on #15
Hum not sure why. This repo does not contain the code of darknet. It's more a demo to show YOLO with 9000 classes. Refer to: https://pjreddie.com/darknet/yolo/ @xiaoxiongli

[2018-08-29 06:41] xiaoxiongli commented on #11
@xlxlcyRuSReXxlxl Do you successfully train yolo9000？ can you give me some tips about how to train yolo9000?

[2018-09-02 23:55] philipperemy commented on #20
I'll close this issue. I have never encountered any nan so far.

[2018-09-02 23:55] #20 closed

[2018-09-06 15:00] foocp opened #31 "FPS very poor"
Hi,
I'm on a 1080Ti and only get between 2.5 and 3fps. [Here](
https://github.com/philipperemy/yolo-9000/issues/21) you asked for the results of` watch -n0.01 nvidia-dmi`. There you go. The Volatile GPU jumps between 0% and 25%, regardless if I measure once every 0,1s or every 3s.

[2018-09-06 15:04] foocp commented on #31
<img width="584" alt="screen shot 2018-09-06 at 17 03 55" src="https://user-images.githubusercontent.com/5699916/45166280-f1b45a80-b1f6-11e8-9580-f0d387abed79.png">

Grateful for any tips!

[2018-09-07 08:27] foocp commented on #19
I'd like to visualize the tree structure, and I don't get it (possibly because I am an artist). Why are there only two values in each line?  The line number is important, too, right?

@anphunl  @yaxiongchi @philipperemy

[2018-09-18 14:10] philipperemy commented on #31
@foocp

Not sure why.

With this video: https://textinmotion.tv/help/samples (720p)

https://d2qguwbxlx1sbt.cloudfront.net/TextInMotion-VideoSample-720p.mp4

[code]

I could process 340 frames in 10 seconds. So roughly 34 FPS with my GTX 1070.

I freshly git cloned the repository and followed all the steps.

Hope it helps.

My GPU utilization was constant around ~35-37%.

[code]

[2018-09-19 03:28] philipperemy commented on #31
@foocp just for info, I see FPS 0.0 (seems to be a bug in darknet) but the images get generated anyway.

[2018-09-19 03:28] philipperemy commented on #31
So can you check with `ll *.png | wc -l` at every minute and compute the FPS yourself?

[2018-09-20 04:47] philipperemy commented on #31
I'll close it for now since there's no problem on my end

[2018-09-20 04:47] #31 closed

[2018-09-22 15:12] #22 closed

[2018-09-26 14:18] foocp commented on #31
@philipperem sorry, seems my notification got lost somewhere.
I should clarify -  as in the referenced issue, the problem with the slow fps is when running the demo with a webcam connected via USB.

[2018-09-26 14:43] philipperemy commented on #31
@foocp in that case I guess it has more to do with the framerate of the webcam or the open cv framework itself.

[2018-09-26 14:58] foocp commented on #31
OK, I'll check that out, thanks!

[2018-09-28 10:53] foocp commented on #31
Hi @philipperem, turns out it's also very slow when processing that test video. Here's the output of `watch -n0.01 nvidia-smi`

The Volatile GPU changes between 10% and 22%.

![screenshot from 2018-09-28 12-45-16](https://user-images.githubusercontent.com/5699916/46204296-03cc7900-c31d-11e8-8280-abe007c09f60.png)

Darknet seems to use a version of OpenCV that has no Cuda support. I checked in Pyth

[2018-09-28 13:12] philipperemy commented on #31
Yes it's possible! And in your case I have no ideas on how to get ride of multiple OpenCV. A fresh re-install might be the quickest

[2018-09-28 15:50] foocp commented on #31
I de- and reinstalled all of OpenCV, to no avail. If there's only the self-compiled OpenCV 3.4 (with CUDA support), darknet won't run, as it's missing something. So I guess it wants OpenCV 2, which even PJ Reddie [himself says](https://groups.google.com/d/msg/darknet/lQ2EbTsBc8Y/pDVEb3YiDQAJ) he simply installs from the repository. But of course that won't have special CUDA support.

Yolo v3 runs

[2018-09-28 15:55] foocp commented on #26
this here in the Readme is the command that merges those two files into a complete .weights file:
`cat yolo9000-weights/x* > yolo9000-weights/yolo9000.weights`

[2018-10-01 11:23] foocp commented on #31
Update, the problem is that Yolo9000 doesn't run as fast with the latest versions of darknet. I've tested it until the version from [April 11, 2018](https://github.com/pjreddie/darknet/tree/508381b37fe75e0e1a01bcb2941cb0b31eb0e4c9), and I still get 30fps on my 1080Ti. Will try and find out where exactly it stops working well.

[2018-10-01 13:40] philipperemy commented on #31
@foocp thanks for this update. That's interesting. This repo is not linked to the latest version of darknet btw. Would be curious to know why if you found the answer.

[2018-10-04 12:49] foocp commented on #31
oops, turns out the PJ Reddie's darknet and AlexeyAB's fork are a lot more different than  I naively assumed. It's the latter that runs very slowly with Yolo9000. The original darknet, including the lastest as of now, works fine.
Thanks anyway for your input!

[2018-10-05 01:16] philipperemy commented on #31
Ok happy to know that. That's interesting.

[2018-10-31 22:01] sophia-wright-blue opened #32 "make your own video on Mac OS"
I'm able to install and run the code and get the output for an image. I tried following the steps in the section "Make your own video! (Ubuntu/Linux)". I'm running the code on a Mac with no GPU support. I have OpenCV already installed (i'm in a conda environment). I changed the line OPENCV=0 to OPENCV=1 in Makefile. I get the following errors:

[code]

Could you please guide me to the correct step

[2018-10-31 22:50] sophia-wright-blue opened #33 "FFMPEG error making own video on Ubuntu"
I get the following error on trying to make my own video on Ubuntu with GPU

[code]

any help fixing this will be greatly appreciated.

Thanks,

[2018-11-07 09:45] philipperemy commented on #33
Hum not sure on how to solve this one. Seems like an OpenCV issue.

[2018-11-07 14:19] sophia-wright-blue commented on #33
thanks for replying @philipperemy , i'll look into this some more,

[2018-11-07 14:19] #33 closed

[2018-11-08 01:04] philipperemy commented on #33
@sophia-wright-blue let us know when you found the fix!

[2018-11-13 15:58] fcu-d0239468 opened #34 "Cant convert 9k weights to h5"
these are the errors
Using TensorFlow backend.
Loading weights.
Weights Header:  [       0        1        0 15501312]
Parsing Darknet config.
Traceback (most recent call last):
  File "yad2k.py", line 270, in <module>
    _main(parser.parse_args())
  File "yad2k.py", line 91, in _main
    cfg_parser.read_file(unique_config_file)
  File "C:\Users\user\AppData\Local\Programs\Python\Python36\lib\con

[2018-11-13 16:00] fcu-d0239468 commented on #34
and yet i've tried keras-yolo3 convert.py also
Using TensorFlow backend.
Loading weights.
Weights Header:  0 1 0 [15501312]
Parsing Darknet config.
Traceback (most recent call last):
  File "convert.py", line 262, in <module>
    _main(parser.parse_args())
  File "convert.py", line 85, in _main
    cfg_parser.read_file(unique_config_file)
  File "C:\Users\user\AppData\Local\Programs\Python\Python3

[2018-11-28 04:50] philipperemy commented on #34
@fcu-d0239468 hum not sure why.

[2018-11-28 04:51] philipperemy commented on #32
@sophia-wright-blue seems to be related to: https://github.com/pjreddie/darknet/issues/265

[2018-11-28 04:52] philipperemy commented on #32
Try this: https://github.com/pjreddie/darknet/issues/485#issuecomment-381025528

[2018-11-28 17:03] sophia-wright-blue commented on #32
thank you @philipperemy , that helped.

[2018-11-28 17:03] #32 closed

[2018-11-29 00:53] philipperemy commented on #32
@sophia-wright-blue happy it did

[2018-12-07 15:29] shridhar-pivotchain commented on #34
comment
batch=1
subdivisions=1
on 8th and 9th line in yolo9000.cfg file

[2018-12-08 04:30] philipperemy commented on #34
@shridhar-pivotchain did it work by doing that?

[2018-12-10 04:56] shridhar-pivotchain commented on #34
yes

[2018-12-10 04:58] philipperemy commented on #34
@shridhar-pivotchain can you give a bit of background of what was it for?

[2018-12-10 04:58] philipperemy commented on #34
I'm asking that because if it could help other users, then we can add it to the README.

[2018-12-10 05:03] shridhar-pivotchain commented on #34
In yolo9000.cfg batch=1 and subdivisions=1 has got repeated on 8th and 9th line respectively while converting weights to keras an error is thrown
'configparser.DuplicateOptionError: While reading from '<???>' [line 8]: option 'batch' in section 'net_0' already exists'
To avoide this error comment batch=1 and subdivisions=1 in config file

[2018-12-10 05:51] philipperemy commented on #34
@shridhar-pivotchain sure. so you take this .weight file and you convert it to .h5 file to be used for Keras? @shridhar-pivotchain Can you provide some code here? It might be interested for other people.

[2018-12-10 05:59] shridhar-pivotchain commented on #34
Use https://github.com/allanzelener/YAD2K git for converting weights.

[2018-12-10 06:49] philipperemy commented on #34
@shridhar-pivotchain awesome thank you! Going to update the README

[2018-12-10 06:49] #34 closed

[2018-12-10 06:50] philipperemy commented on #34
@fcu-d0239468 hope this helped!

[2018-12-27 06:59] Zeeshan75 commented on #23
Did anyone have the trained model on these 9k classes?

[2018-12-27 15:08] debhazra commented on #3
@philipperemy : the github link you have given for face recognition is using OpenCV and face_recognition modules. But too slow to detect & recognize. Therefore will not help much to recognize faces when people are in motion. For such use case probably YOLO face detector will be the perfect choice along with OpenCV. Therefore, would like to see if there is any python code where YOLO and OpenCV has

[2019-01-08 09:07] veya2ztn opened #35 "9k"
Follow the instruction, I can already

1. convert the yolo2 weight (for detecting 80 classes) to keras weight, load the yolo2 model in keras and do correct prediction.
2. convert the yolo9000 weight (for detecting 9418 classes) to keras weight, load the yolo9000 model in keras but I don't how to predict via this model

For yolo2 model, we know that after run

[code]

`prediction` is an (?,?,?,3,nu

[2019-03-15 14:04] tinohager opened #36 "Script for windows without make"
[code]

[2019-03-18 01:43] philipperemy commented on #36
@tinohager is it an issue or a pull request?

[2019-03-18 07:03] tinohager commented on #36
I think a half pull request. You allow half pull requests?

[2019-03-18 07:21] philipperemy commented on #36
lol

[2019-03-27 19:02] abner-gong opened #37 "nvcc fatal : Unsupported gpu architecture 'compute_20'"
abner@yolo-9000/darknet$ make
gcc -Iinclude/ -Isrc/ -DGPU -I/usr/local/cuda/include/ -DCUDNN  -Wall -Wno-unknown-pragmas -Wfatal-errors -fPIC -Ofast -DGPU -DCUDNN -c ./src/gemm.c -o obj/gemm.o
gcc -Iinclude/ -Isrc/ -DGPU -I/usr/local/cuda/include/ -DCUDNN  -Wall -Wno-unknown-pragmas -Wfatal-errors -fPIC -Ofast -DGPU -DCUDNN -c ./src/utils.c -o obj/utils.o
./src/utils.c: In function ‘fgetl’:
./src/

[2019-03-27 19:05] abner-gong commented on #37
Although I can make the original version yolov3, when it loads the yolov3-tiny.weights, it will run out of memory. The parameter is already the smallest. I don't know whether these bugs are related.

[2019-03-27 23:50] philipperemy commented on #37
Hum interested. It's a new graphic card. Have you updated your darknet repo? I guess it's a darknet issue here.

[2019-03-29 03:22] philipperemy commented on #36
Merged https://github.com/philipperemy/yolo-9000/commit/9b413874d85bb8e15f76393429b42062abc8c5f2
Thank you!

[2019-03-29 03:22] #36 closed

[2019-04-05 08:12] abner-gong commented on #37
Thank you! I updated the newest darknet and it worked.

[2019-04-05 08:13] #37 closed

[2019-04-05 08:14] philipperemy commented on #37
@abner-gong thank you for your feedback!

[2019-04-17 02:35] Shawn0Hsu commented on #27
@dexception Hello, Have you solved the problem? do you know how to tag  YOLO9000 with  my own dataset? looking forward to your reply

[2019-04-17 03:06] Shawn0Hsu opened #38 "How to label own data set for fine-grained classification"
@philipperemy  Hello, I am glad to harvest from your contribution, but I want to know how to label my data set for fine-grained classification. Your combine9k.train.list is not announced. Can you give me some answers? Thank you!

[2019-04-28 08:54] jiajunhua commented on #27
I haven't been able to locate any dataset that was used to train the Yolo 9000 dataset.
Please share the details as we are looking to only classify few categories only.

[2019-06-19 13:36] MounirB commented on #33
You can find a solution here maybe : [cvcreatefilecapturewithpreference warning](https://answers.opencv.org/question/204785/blank-video-and-error-message-warn0-cvcreatefilecapturewithpreference-backend-msmf-doesnt-support-legacy-api-anymore/)

[2019-06-20 00:07] philipperemy commented on #33
@MounirB thanks for sharing!

[2019-07-03 13:22] fengsky401 opened #39 "Prediction results on CPU and GPU are different on the same image"
system:ubuntu 16.04
Cuda-10,cudnn-7
When I compile on gpu, executed
./darknet detector test cfg/combine9k.data cfg/yolo9000.cfg ../yolo9000-weights/yolo9000.weights data/horses.jpg
the result is as below:
mask_scale: Using default '1.000000'
Loading weights from ../yolo9000-weights/yolo9000.weights...Done!
data/horses.jpg: Predicted in 0.057828 seconds.
horse: 50%
horse: 84%
even-toed ungulate: 72

[2019-09-24 08:31] Kolinko-Danylo commented on #39
Same issue while compiling in colab.
CPU predictions are much more detailed than ones obtained by GPU.
Source photo: http://www.urbanstreetdiving.com/wp-content/uploads/2018/02/Urban-Street-Diving-Street-Photography-Kerem-Nasipoglu-Istanbul-02.jpg

CPU:
minivan: 68%
limousine: 68%
Staffordshire bullterrier: 47%
bicycle-built-for-two: 71%

GPU:
car: 68%
car: 68%
dog: 48%
artifact: 71%

[2019-10-12 13:25] philipperemy commented on #39
Yes I've seen that too. It comes from darknet. It seems that the computations are slightly different whether it's compiled on CPU or GPU. It's a known thing and it should be addressed directly here. I've opened an issue on the related project.

Related issues: https://github.com/pjreddie/darknet/issues/784
Project: https://github.com/pjreddie/darknet

[2019-10-12 13:25] #39 closed

[2019-10-12 13:25] philipperemy commented on #39
Issue available here: https://github.com/pjreddie/darknet/issues/1865

[2019-10-13 09:57] philipperemy commented on #28
Probably this procedure: https://timebutt.github.io/static/how-to-train-yolov2-to-detect-custom-objects/

But I don't know which dataset the author of Darknet used to train this YOLO9000 model.

[2019-10-30 04:29] abdulrashid123 opened #40 "Using live webcam"
I need to use live Web cam for object detection and extract centered boxed image

[2019-12-15 12:33] huangeason26 commented on #15
@hengshanji @moskiteau @philipperemy @xiaoxiongli i met the same issue, i wonder if any of you had figure it out?

[2019-12-18 09:52] sohambannerjee8 opened #44 "Not able to detect the object for some images"
When I am trying to run the below command it is not returning the value for some images.I have provided the image link in the  end. @philipperemy
`
./darknet detector test cfg/combine9k.data cfg/yolo9000.cfg ../yolo9000-weights/yolo9000.weights /home/arc/darknet/my.jpg`

[Image URL](https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-156096272

[2019-12-18 13:12] sohambannerjee8 commented on #15
Same Issue.Even I found some images are giving empty result. I have created one issue also regarding  [this](https://github.com/philipperemy/yolo-9000/issues/44)

[2019-12-20 06:01] LilianLiang7 commented on #44
try to set  smaller  thresh for detection may help

[2019-12-20 08:00] sohambannerjee8 commented on #44
@LilianLiang7  I  got the result with .2 threshold .

[2020-02-11 20:10] rahul-tiwari-Singleinterface commented on #23
Hi Philippe,
Can you suggest the dataset for shop category. I tried few of my own but unfortunately the model was not able to recognise them.

Thanks in advance !!

[2020-02-19 05:37] srividya91 opened #45 "Yolo 9000 for object detection"
Hello Everyone, i am trying to use yolo 9000 for object detection. i read yolo9000.cfg file using darknet. but, i am unable to read the weight files using darkflow.. could any one please help me out..

`
net=cv2.dnn.readNetFromDarknet("(r"C:\Users\Desktop\darknet-master\darknet-master\cfg\yolo9000.cfg")

net1=cv2.dnn.readNetFromDarknet(r"C:\Users\Desktop\darknet-master\darknet-master\yolo9000.weig

[2020-03-05 09:50] srividya91 commented on #40
@abdulrashid123  have you worked on object detection with yolo9000.? if so please tell me how you worked..

[2020-03-05 09:57] srividya91 commented on #40
@philipperemy. I need to work on live object detection with yolo9000.
I tried by passing images and video (mentioned in your page).but, i want to take llive feed..

please help me

[2020-06-22 17:50] vivek87799 commented on #14
@CXZ116
I want to do the same. Where you able to get the answer ?

[2020-06-22 20:50] CXZ116 commented on #14
Yes, I think I found solutions,
Check: https://towardsdatascience.com/understanding-region-of-interest-part-2-roi-align-and-roi-warp-f795196fc193
For ROI pooling explanations.
Another paper for your reference:
“Spatial Pyramid Pooling in Deep Convolutional Networks for Visual Recognition” by He et al.

Not sure if it helps you since what I need is a fixed length feature per ROI regardless of the o

[2020-06-28 13:29] vivek87799 commented on #14
Thank you very much for your reply.

[2020-07-28 13:20] philipperemy commented on #44
I'll close this issue if it's solved. Thank you!

[2020-07-28 13:20] #44 closed

[2020-07-28 13:21] philipperemy commented on #45
What's the md5 for C:\Users\Desktop\darknet-master\darknet-master\yolo9000.weights?

[2020-07-28 13:34] philipperemy commented on #40
@abdulrashid123

Edit the makefile and change `OPENCV=1`

If you are on linux:
[code]
Should work hopefully.

[2020-07-28 13:51] philipperemy commented on #40
If you want to use it with MacOSX (which I think is a bad idea because it will be down too slow, you can apply this patch in darknet):

Copy this file to `/Users/premy/PycharmProjects/yolo-9000/darknet/patch`.
Then run:

[code]

[code]

Referring to :
- https://github.com/pjreddie/darknet/commit/24cff08086b573c3341e91d072430c9f624a2208
- https://github.com/pjreddie/darknet/issues/1897
- https://gi

[2020-10-13 20:12] wwJinkla commented on #45
Does OpenCV have an implementation of YOLO9000? Mine (OpenCV 4.4.0) complained that

`CV_Error(cv::Error::StsNotImplemented, "Yolo9000 is not implemented");`

[2020-10-30 11:39] vyasn30 commented on #23
So one can detect any object from that list? That is insane

[2020-11-01 03:57] philipperemy commented on #23
@vyasn30 yes that's correct!

[2020-11-23 09:25] mv2050arshad commented on #45
i have same erorr still with opencv 4.5.0
have you successful to solve this problem ?

[2020-12-01 22:48] pradeep-wyze commented on #27
Even I couldn't find the processed dataset for YOLO9000 -- I think the authors of the paper YOLO900 never open-sourced the dataset.

If any of you could locate it, please share it here. Thanks

[2020-12-02 05:13] philipperemy commented on #27
Yeah, I've never seen it either. The dataset has never been published as far I know.

[2020-12-03 18:21] pradeep-wyze commented on #27
@philipperemy any idea how to create one? Say if I want to build something like this for 500 classes. Any rference? Thanks a lot.

[2021-06-03 10:33] Leela-Nayan commented on #40
Getting the error "corrupt patch at line 134" Tried many ways to correct it. Pls resolve at the earliest @philipperemy

@philipperemy

[2021-06-03 10:47] philipperemy commented on #40
@Leela-Nayan it's not a good idea to use it on a mac without GPU support as it will be incredibly slow.

[2021-06-03 10:49] Leela-Nayan commented on #40
@philipperemy Pls bro, this is important to me, can you please help me out, i don't care if its slow, i just need it to run

[2021-06-03 10:50] Leela-Nayan commented on #40
Plsss, its a very simple thing for you, but i'm breaking my head around it @philipperemy

[2021-07-02 13:03] average-everyman opened #46 "assertion error (?) when loading the yolo9000 with cv2.dnn.readNetFromDarknet"
Hello, this is what I get:

[code]
weights file was created as per instructions here:
https://github.com/philipperemy/yolo-9000#windows

cfg file was from here:
https://github.com/pjreddie/darknet/blob/1e729804f61c8627eb257fba8b83f74e04945db7/cfg/yolo9000.cfg

any ideas? I am a bit puzzled by this...

[2021-08-03 15:20] iAmJuan550 opened #47 "Is batch inference possible?"
Is it possible to do a simple batch-inference with this?

[2021-08-03 15:43] iAmJuan550 opened #48 "What version of cuda does this work on?"
I get the following error with cuda 11.2:

[code]

[2021-08-03 19:53] philipperemy commented on #48
Try to open an issue there:
- https://github.com/pjreddie/darknet

[2021-08-04 11:54] ghost commented on #48
@philipperemy what version of cuda did you use for this?

[2021-08-04 12:05] ghost commented on #48
I solved the problem by making the following changes to the Makefile in the darknet folder:

NVCC=/usr/local/cuda-10.0/bin/nvcc
COMMON+= -DGPU -I/usr/local/cuda-10.0/include/
LDFLAGS+= -L/usr/local/cuda-10.0/lib64 -lcuda -lcudart -lcublas -lcurand

[2021-08-04 12:05] #48 closed

[2021-08-04 13:09] philipperemy commented on #48
@iAmJuan550 happy to hear that. I was running on multiple versions: CUDA 9.0, 9.1, 10 and 10.1.

[2021-08-04 13:16] iAmJuan550 opened #49 "OSError: libcudart.so.10.0: cannot open shared object file: No such file or directory"
Your code doesn't work. I try to run darknet.py in darknet/python/ and I get the following error:

[code]

If I execute the following, your code works:

`./darknet detector test cfg/combine9k.data cfg/yolo9000.cfg ../yolo9000-weights/yolo9000.weights data/dog.jpg`

I ran make with cuda-10.0 and it was successful plus the darknet detector test was also successful. So, I know I installed everything

[2021-08-04 13:22] philipperemy commented on #49
Yeah it's common. Make sure those directories exist:

[code]

Then run those lines before:

[code]

You can add them to your bashrc (or zshrc).

If it still does not work, try this: https://stackoverflow.com/a/64152823/4170095.

[2021-08-04 13:33] ghost commented on #49
@philipperemy I tried running your code from the Ubuntu terminal instead of PyCharm:

`python3 python/darknet.py`

Now, this is the error I get:

[code]

[2021-08-04 13:44] philipperemy commented on #49
Do you have the file weights/yolo9000.weights? Does the commands in this repo work for you?

[2021-08-04 13:45] ghost commented on #49
This works: (Yes, I have the weights)

`./darknet detector test cfg/combine9k.data cfg/yolo9000.cfg ../yolo9000-weights/yolo9000.weights data/dog.jpg`

But this doesn't

`python3 python/darknet.py`

[2021-08-04 13:46] ghost commented on #49
I need the second one to work because I need the numerical detection values for my project

[2021-08-04 13:58] ghost commented on #49
I fixed the problem by converting strings to bytes before passing them to the c function

[2021-08-04 14:38] #49 closed

[2021-08-04 14:38] philipperemy commented on #49
great!

[2021-08-04 14:40] iAmJuan550 opened #50 "Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)"
Your code doesn't work properly

When I call python/darknet.py with Working directory as darknet (which contains the python subdirectory which in turn contains the darknet.py file), the code runs fine. When I do the same but with working directory as the parent directory of darknet or a parent of that, I get the above error. Full error log:

[code]

[2021-08-04 14:41] ghost commented on #49
To run the code in Pycharm, run the following in the terminal: `sudo ldconfig /usr/local/cuda/lib64`

[2021-08-05 17:26] ghost commented on #50
I  solved  the problem by adding the darknet folder (which contains everything from this repo) to my Python path

[2021-08-05 17:26] #50 closed

[2021-08-06 07:18] philipperemy commented on #50
Good to know! Using the `PYTHONPATH` variable?

[2021-08-06 15:56] iAmJuan550 opened #51 "How to parse the 9k.tree file to create a graph?"
Hello. I want to parse the tree to find common ancestors of the detections (sedan and van are both cars, so I want to assign the car label and not the labels referring to the car types) up to a certain ancestor (since the physical object label is the progenitor class for every other class label).

I opened the 9k.tree file and tried to understand how to create a graph, but I couldn't understand th

[2021-08-06 15:57] ghost commented on #19
@anphunl I didn't understand your explanation at all. Can you show with a small example what that means?

[2021-08-06 16:03] ghost commented on #47
I fixed this problem by using this repo instead:
https://github.com/AlexeyAB/darknet

[2021-08-06 16:03] #47 closed

[2021-08-09 10:47] ghost commented on #51
I found the solution. In the 9k.tree file, the line number is the index of that node and the number on the right is the index of the line that contains the parent node.

[code]
So the first 4 nodes are all root nodes, i.e. no parents.  The last two are children of node at index 0, which is the first node listed.

So it'd be like this
[code]

Code to create a graph using the networkx library
[code]

[2021-08-09 10:47] #51 closed

[2021-08-11 19:10] philipperemy commented on #51
Awesome! Thanks for sharing :)

[2021-08-20 13:27] khumam commented on #45
Has same issue with OpenCV 4.4.0. It's said `Yolo9000 is not implemented in function 'cv::dnn::RegionLayerImpl::RegionLayerImpl'`

[2021-09-29 22:02] thierrydecae opened #52 "How to get mask?"
Hi everyone, does anyone know how to get the mask from detected objects? many thanks

[2021-10-01 05:45] akashAD98 commented on #25
@KA-ISK you can use dont_showcommand infront of classes which you dont want to detect
ex- dont_show car
dont_show cat

& you can try alexyab repo

[2022-03-23 08:41] rustynothappy commented on #12
why is it not working on other images  ?only working on dog,person,horses images

try to pas other image and plz update me on same.

[2022-03-24 00:31] philipperemy commented on #12
@rustynothappy no it works well on almost any other image (it might require a bit of tuning for your application).

<img width="721" alt="image" src="https://user-images.githubusercontent.com/4516927/159818472-6ead0b67-ba0c-4dab-982f-49ffe144df66.png">

The image I used: http://www.experian.com/blogs/news/wp-content/uploads/2012/06/cars.png

[2022-03-24 08:28] rustynothappy commented on #12
[yolo_9000.zip](https://github.com/philipperemy/yolo-9000/files/8339696/yolo_9000.zip)
why is it not working on mine .
see this file, and plz correct me.

[2022-06-29 09:05] codedinger commented on #45
I would like to implement YOLO9000 with OpenCV from Darknet but it provides me with that error as well:

`error: OpenCV(4.5.4) /tmp/pip-req-build-3129w7z7/opencv/modules/dnn/src/layers/region_layer.cpp:101: error: (-213:The function/feature is not implemented) Yolo9000 is not implemented in function 'RegionLayerImpl'`

Is not there any implementation or solution for that yet? Is there any other li

[2022-07-27 13:19] kulkarnikeerti opened #53 "Custom dataset for yolo9000"
Hi,

I would like to create my own dataset for yolo9k, could you please share the input format for the model?

For example, in general yolo accepts` [x, y, x, y, id]` as a label. In the same fashion how the input is organized for yolo9k?

Any leads on this would be of great help. Any sample example. Thanks in advance

[2022-07-28 07:35] kulkarnikeerti commented on #53
@philipperemy What does `n00002452` in `n00002452 -1` represents? I understand `-1` is the parent node indication

[2022-07-28 07:46] kulkarnikeerti commented on #22
@philipperemy the above link shows how the data is created for yolov2 followed by training the same model but there is no information on how the data is created for yolo9000 in a tree structure. Since its very different from other yolo models its quite difficult to understand the input preparation and how its used for further training. It would be great if you could you guide me to some useful art

[2022-07-28 07:51] kulkarnikeerti commented on #19
@ghost I understand that `-1` or  `4` represents the parent node but what does `n0000245` or `n0566538625` represents here in the following case? `n0000245 -1, n0566538625 4`
@yaxiongchi

[2022-07-29 06:22] anphunl commented on #19
@ghost @kulkarnikeerti

[2022-07-29 06:29] anphunl commented on #19
@ghost  @kulkarnikeerti
From the file https://github.com/pjreddie/darknet/blob/1e729804f61c8627eb257fba8b83f74e04945db7/data/9k.tree

- The index of a node is the line number and starts at 0.
- For each line, the structure is NODE_NAME FATHER_INDEX
- If father index is -1, it's root (or we can consider it's child of a abstract node).

So:

- n00002452 (index 0), n00020827 (index 1) n00002684 (inde

[2022-07-29 06:51] kulkarnikeerti commented on #19
@anphunl Thanks a lot for the great explanation. I just have few more quarries regarding the yolo9000 as I could not find more cleared answers anywhere. If you have more information it would be great if you can please answer them.
1. So `n00021265` represents label given to a particular object. Are these labels manually given or auto assigned when the tree is created?
2. If it were generated along